div.bottom-bar {
    position: relative;
    bottom: 0px;
    margin: auto;
}

div.scrollable-menu {
    height: auto;
    max-height: 35rem;
    overflow-x: hidden;
}

div.outscroll{
    height: auto;
    max-height: 10rem;
    overflow-x: hidden;
}