
.font-lobster
{
	font-family: 'Lobster', cursive;
}

.font-nanum-gothic
{
    font-family: 'Nanum Gothic', sans-serif !important;
}


.github-href
{
	color:black;
	text-decoration: none;
}

.center{
    text-align: center;
}

header {
    background-color: #595959;
    transition: background-color .5s;

}

header:hover{
    background-color: white;
}

header:hover span
{
    color: #202020 !important;
}

button.button-color-hovering{
    background-color: #595959;
    border: 0;
    color:#d0d0d0;
}

div.bottom-bar {
    position: relative;
    bottom: 0px;
    margin: auto;
}

div.scrollable-menu {
    height: auto;
    max-height: 35rem;
    overflow-x: hidden;
}

div.outscroll{
    height: auto;
    max-height: 10rem;
    overflow-x: hidden;
}


/* The snackbar - position it at the bottom and in the middle of the screen */
#signinfail {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 10000 !important; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    top: 30px; /* 30px from the bottom */

  }

#signupsuccess {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color:black; /* Black background color */
    color:white; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 10000 !important; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    top: 30px; /* 30px from the bottom */
}

  /* Show the snackbar when clicking on a button (class added with JavaScript) */
.snackbarshow {
    visibility: visible !important; /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
from {top: 0; opacity: 0;}
to {top: 30px; opacity: 1;}
}

@keyframes fadein {
from {top: 0; opacity: 0;}
to {top: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
from {top: 30px; opacity: 1;}
to {top: 0; opacity: 0;}
}

@keyframes fadeout {
from {top: 30px; opacity: 1;}
to {top: 0; opacity: 0;}
}
