@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
.font-lobster
{
	font-family: 'Lobster', cursive;
}


.github-href
{
	color:black;
	text-decoration: none;
}

div.bottom-bar {
    position: relative;
    bottom: 0px;
    margin: auto;
}

div.scrollable-menu {
    height: auto;
    max-height: 35rem;
    overflow-x: hidden;
}

div.outscroll{
    height: auto;
    max-height: 10rem;
    overflow-x: hidden;
}
